<h3>ユーザー情報の編集</h3>

<%= form_for(@user) do |f| %>

  <h4>アイコン</h4>
  <%= f.attachment_field :profile_image %>

  <h4>名前</h4>
  <%= f.text_field :name %>

  <h4>紹介文</h4>
  <%= f.text_area :introduction %>

  <%= f.submit "保存", class:"btn btn-info" %>

<% end %>