<!-- ユーザ詳細 -->

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg" %>
    <span class="show-name"><%= @user.name %></span><br>
    <div class="show-intro"><%= simple_format(@user.introduction) %></div>
    <% if @user.id == current_user.id %>
      <%= link_to "ユーザー情報編集", edit_user_path(current_user.id), class:"btn btn-info pull-right" %>
    <% end %>
  </div>
</div>
<div class="row user-posts">
  <div class="col-md-offset-2 col-md-8">
  <% @user.posts.each do |post| %>
    <p class="show-title"><strong><%= post.title %></strong></p>
    <span class="show-category">カテゴリー：<%= post.category.name %></span>
    <span class="show-genre">ジャンル：|
      <% post.genre_posts.each do |genre_post| %>
        <%= genre_post.genre.name %> |
      <% end %>
    </span>
    <div class="show-opinion">
      <%= simple_format(post.opinion) %><br>
    </div>
    <% if post.favorited_by?(current_user) %>
      <%= link_to post_favorites_path(post), method: :delete do %>
        <span class="fas fa-heart" aria-hidden="true" style="color: red;"></span>
      <% end %>
      <%= post.favorites.count %>
    <% else %>
      <%= link_to post_favorites_path(post), method: :post do %>
        <span class="far fa-heart" aria-hidden="true"></span>
      <% end %>
      <%= post.favorites.count %>
    <% end %>
    <span class="fas fa-comment-alt" style="color: #4169e1;"></span>
    <span><%= post.comments.count %>コメント</span>
    <span><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
      <%= link_to "詳細をみる", post_path(post.id), class:"btn btn-warning btn-sm pull-right" %><br>
    <p>______________________________________________________________________________________________________________________________________</p>
  <% end %>
  </div>
</div>