<div class="container">
<!-- ジャンル登録フォーム -->
  <div class="row">
    <div class="col-md-offset-1 col-md-6">
      <h3>ジャンル一覧・登録</h3>

      <%= form_for(@genre, url: admin_genres_path) do |f| %>
        <%= f.label :name, "ジャンル" %>
        <%= f.text_field :name %>
        <%= f.submit "追加", class:"btn btn-info" %>
      <% end %>

    </div>
  </div>
<!-- フォームここまで -->

<!-- ジャンル一覧表示 -->
  <div class="row">
    <div class="col-md-offset-1 col-md-6">
      <table class="table table-bordered text-center">

        <thead>
          <tr>
            <th class="text-center">ジャンル一覧</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-info" %></td>
            <td><%= link_to "削除する", admin_genre_path(genre.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>

      </table>
    </div>
  </div>
<!-- 一覧ここまで -->
</div>