<div class="container">
<!-- カテゴリ登録フォーム -->
  <div class="row">
    <div class="col-md-offset-1 col-md-6">
      <h3>カテゴリ一覧・登録</h3>

      <%= form_for(@category, url: admin_categories_path) do |f| %>
        <%= f.label :name, "カテゴリ" %>
        <%= f.text_field :name %>
        <%= f.submit "追加", class:"btn btn-info" %>
      <% end %>

    </div>
  </div>
<!-- フォームここまで -->

<!-- カテゴリ一覧表示 -->
  <div class="row">
    <div class="col-md-offset-1 col-md-6">
      <table class="table table-bordered text-center">

        <thead>
          <tr>
            <th class="text-center">カテゴリ一覧</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <% @categories.each do |category| %>
        <tbody>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "編集する", edit_admin_category_path(category.id), class:"btn btn-info" %></td>
            <td><%= link_to "削除する", admin_category_path(category.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>

      </table>
    </div>
  </div>
<!-- 一覧ここまで -->
</div>