<h3>投稿一覧</h3>
<% @posts.each do |post| %>
  <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
  <%= post.user.name %>
  <%= post.title %>
  <p>カテゴリー：<%= post.category.name %></p>
    <p>ジャンル：
      <% post.genre_posts.each do |genre_post| %>
      <%= genre_post.genre.name %>
    <% end %>
    </p>
  <%= post.opinion %>
  <%= link_to "詳細をみる", post_path(post.id) %><br>
<% end %>