<h3>投稿一覧</h3>
<% @posts.each do |post| %>
  <%= post.user.name %>
  <%= post.title %>
  <%= post.category.name %>
    <% post.genre_posts.each do |genre_post| %>
      <%= genre_post.genre.name %>
    <% end %>
  <%= post.opinion %><br>
<% end %>