<!-- 投稿フォーム -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h3>投稿</h3>
      <%= form_for(@post) do |f| %>
        <%= f.label :title, "作品名" %>
        <%= f.text_field :title %><br/>

        <%= f.label :category_id, "カテゴリー" %>
        <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %><br/>

        <%= f.label :genre, "ジャンル" %>
        <%= select_tag 'genre_ids[]', options_from_collection_for_select(Genre.all, :id, :name ), :prompt => "選択してください" %><br/>
        <%= select_tag 'genre_ids[]', options_from_collection_for_select(Genre.all, :id, :name ), :prompt => "選択してください" %><br/>
        <%= select_tag 'genre_ids[]', options_from_collection_for_select(Genre.all, :id, :name ), :prompt => "選択してください" %><br/>

        <%= f.label :opinion, "感想" %>
        <%= f.text_area :opinion %>

        <%= f.submit "送信", class:"btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>