<!-- 投稿詳細 -->
<div class="row">
  <div class="col-md-offset-1 col-md-3 text-center">
    <%= link_to user_path(@post.user.id) do %>
      <%= attachment_image_tag @post.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
      <%= @post.user.name %><br>
    <% end %>
  </div>
  <div class="col-md-7">
    <p class="show-title"><strong><%= @post.title %></strong></p><br>
    <span class="show-category">カテゴリー：<%= @post.category.name %></span>
    <span class="show-genre">ジャンル：|
      <% @post.genre_posts.each do |genre_post| %>
        <%= genre_post.genre.name %> |
      <% end %>
    </span>
    <div class="show-opinion">
      <%= @post.opinion %><br>
    </div>
    <% if @post.user.id == current_user.id %>
      <%= link_to "編集", edit_post_path(@post), class:"btn btn-info" %>
      <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>